<div class="static-page">
  <h2>Contact Us</h2>
  <p>We'd love to hear from you! Fill out the form below or reach out directly:</p>



  <form class="contact-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Your name">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="abcd@gmail.com">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Message</mat-label>
      <textarea matInput rows="5" placeholder="Type your message here"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Send</button>
  </form>
</div>
